#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Ignore these files globally in this repo.
#

*.swp
.DS_Store
*~
*.sublime-*
*.d/localhost
aptitude/cache
cmus/autosave
cmus/cache
cmus/*-history
cmus/*.pl
ssh/id*
ssh/environment*
ssh/known_hosts
ssh/master/*
subversion/README.txt
subversion/auth/*
gnupg/crls.d/*
gnupg/openpgp-revocs.d/*
gnupg/private-keys-v1.d/*
gnupg/.gpg-v21-migrated
gnupg/gpg-agent.env
gnupg/private*
gnupg/random*
gnupg/sshcontrol
gnupg/*~
gnupg/*.gpg
gnupg/*.kbx
gnupg/*.lock
mercurial/certs/
mutt/cache/*
mutt/mailboxes.*
mutt/smime/*
mutt/certificates
task/task/*.data

