#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Git submodules in this repo
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

[submodule "dotsync"]
	path = dotsync
	url = https://github.com/dotphiles/dotsync.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/dotzsh/dotzsh.git
[submodule "vim"]
	path = vim
	url = https://github.com/dotvim/dotvim.git
