#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Ignore these files globally in this repo.
#

*.swp
.DS_Store
*~
*.sublime-*
*.d/localhost
aptitude/cache
cmus/autosave
cmus/cache
cmus/*-history
cmus/*.pl
ssh/id*
ssh/environment*
ssh/known_hosts
ssh/master/*
subversion/README.txt
subversion/auth/*
gnupg/secring.gpg
gnupg/pubring.gpg
gnupg/trustdb.gpg
gnupg/gpg-agent.env
gnupg/sshcontrol
gnupg/random*
gnupg/private*
gnupg/*~
mercurial/certs/
mutt/cache/*
mutt/mailboxes.*
mutt/smime/*
mutt/certificates
task/task/*.data

