#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Git submodules in this repo
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

[submodule "dotsync"]
	path = dotsync
	url = https://github.com/benohara/dotsync.git
[submodule "zsh/dotzsh"]
	path = zsh/dotzsh
	url = https://github.com/benohara/dotzsh.git
[submodule "vim/dotvim"]
	path = vim/dotvim
	url = https://github.com/benohara/dotvim.git
