#
# dotphiles : https://github.com/dotphiles/dotfiles
#
# Ignore these files in this repo.
#

*.swp
.DS_Store
backups/*
ssh/id*
ssh/environment*
ssh/known_hosts
subversion/README.txt
subversion/auth/*
gnupg/secring.gpg
gnupg/gpg-agent.env
gnupg/sshcontrol
gnupg/random*
gnupg/private*
gnupg/*~
task/*.data
