#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Setup mysql
#
# Authors:
#   Ben O'Hara <boahra@gmail.com>
#

[client]
user                  = root
password              =
host                  = 127.0.0.1
port                  = 3306

[mysql]
prompt                = '\\u@\\h\\_[\\d]>\\_'
default-character-set = utf8
show-warnings
safe-updates

